body{
  background-color: #ADB5AC;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

html{
  margin: 0px;
  padding: 0px;
  border: 0px;
  
}

.header{
  text-align: center;
  background-color: #ADB5AC;
  grid-column: 2;
  grid-row: 1;
  height: 10vh;
  
  
}

.button-bar{
  background: linear-gradient(#0A4500 50%,#0F2600);
  width: 20vh;
  height: 100vh;
  padding: 1vw;
  padding-top: 6px;
  grid-column: 1/2;
  grid-row: 1/3;

  
}

button{
  margin-bottom: 10px;
}

.text-body{
  padding-left: 1vw;
  text-align: center;
  background-color: #ADB5AC;
  grid-column: 2;
  grid-row: 2;
 
}

#container{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 1fr 6fr;   
  
}





