.summary {
  font-family: poppins, sans-serif;
  font-size: calc(18px + 0.5vw);
  text-align: left;
  color: #454A43; 
  margin-top: 0px;
  margin-bottom: 0px;
 
}

.name {
  font-family: Hedvig Letters Serif, serif;
  font-size: calc(40px + 0.5vw);
  color: #454A43;
  text-align: center;
  width: 100%;
}



